* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 700px;
	margin: 2rem auto;
	font-family: Arial, Helvetica, sans-serif;
}

.title {
	text-align: center;
}

.title h1 {
	font-size: 24 px;
	color: #333;
}

form {
	margin-top: 2rem;
}

.form-group {
	background-color: #eee;
	padding: 1rem 2rem;
}

.form-control {
	width: 100%;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	margin-top: 0.5rem;
}

.submit-btn {
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	text-transform: uppercase;
	background-color: black;
	color: #fff;
	border: none;
}

.submit-btn:hover {
	cursor: pointer;
}

body {
	background-color: peachpuff;
}